<h2 class="content-subhead">Table of Contents</h2>

<div class="pure-menu">
  <ul class="pure-menu-list">
    <% @contents.each_with_index do |chapter,index| %>
      <li class="pure-menu-item">
        <a href="/chapters/<%= @index %>" class="pure-menu-link"><%=index+1%><%=". "%><%=chapter%></a>
        <%index+1%>
      </li>
    <% end %>
  </ul>
</div>
